body {
    background-color: #D2A9A9;
}
img {
    border-radius: 20px;
}

.btn {
   margin-bottom: 20px;
margin-right: 24px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #D2A9A9;
border: 2px solid #D2A9A9;
box-shadow: 4px 4px 10px rgba(119, 93, 93, 0.5), -3px -3px 10px #FFD5D5;
transition-duration: 500ms;

}



.btn:hover .btn:active {
    box-shadow: 4px 4px 10px rgba(119, 93, 93, 0.5), -3px -3px 10px #FFD5D5, inset -3px -3px 10px rgba(255, 212, 212, 0.5), inset 3px 3px 10px rgba(119, 93, 93, 0.5);
}
.btn:active .round{
        box-shadow: -4px -4px 4px rgba(255, 212, 212, 0.25), 4px 4px 4px rgba(119, 93, 93, 0.5);
        background-color: #d14e4e;
}
 
.btn:hover {
    box-shadow: 4px 4px 10px rgba(119, 93, 93, 0.5), -3px -3px 10px #FFD5D5, inset -3px -3px 10px rgba(255, 212, 212, 0.5), inset 3px 3px 10px rgba(119, 93, 93, 0.5);
}

.round {

    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
    color: #EECFCF;;
    width: 20px;
    height: 20px;
    margin: auto;

    border-radius: 50%;
    transition-duration: 500ms;

}

.text {
    
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 4px;

    color: aliceblue;

}

/*  ihfsudhfkushdfkhskudfhksduhfusdhfkshdfksdfsjdhfshdfhsdfhsdhfsfhskhdfkhsdfkjshdfkjshdf*/


.input {
    display: block;
    margin-top: 50px;
    border-radius: 15%;
    border-color: #d14e4e;
}

